C:/Users/josephh/Documents/GitHub/RP-Malcomb/data/scratch/rdhs.json
C:/Users/josephh/Documents/GitHub/RP-Malcomb/data/raw/private/rdhs.json
/Users/nicholasnonnenmacher/Desktop/Nicholas' Documents/Middlebury 20-21 /Spring 2021/OpenSource GIS/RP-Malcomb/data/raw/private/rdhs.json
/Users/nicholasnonnenmacher/Desktop/Nicholas' Documents/Middlebury 20-21 /Spring 2021/OpenSource GIS/RE-Dorian/data/raw/private/rdhs.json
